header{
	width:100%;
	height:40px;
	text-align:center;
	position: fixed;
	background-color:#D41700;
	font-size: 16px;
	line-height: 40px;
	padding: 0px 20px;
	letter-spacing: 5px;
}
header a{
	color:#dadada;
	font-size:14px;
}
a{
	color:#dadada;
}
.food{
	 width:100%;
	 height:120px;
	 padding:0 10px;
	 border-bottom: 2px solid #dadada;
}
.food .photo{
	 width:35%;
	 height:100%;
	 padding:10px 10px;
}
.food .infors{
     width:60%;
     height:100%;
     padding:10px 10px;
}
.food .infors p{
    line-height:25px;
}
.end{
	width:100%;
	height:140px;
	padding: 4px 40px; 
	margin-top:8px;
	position:relative;
}
.end>.left{
	line-height:40px;
	width:40%;
	text-align:left;
	height:100%;
	position:absolute;
	top:50px;
}
.end>.right{
    width:100%;
    height:100%;
}
.end .right input{
	width:40%;
	float:right;
	background-color:#DB2E0C;
	border: 0;
	color: #dadada;
	border-radius:2px;
}
.red{
    color:red;
}
.zu{
	width:100%;
	height:40px;
	margin-top:4px;
	
}
.zu .kong{
	line-height:23px;
	margin-top: 2px;
    width:70px;
    height:23px;
    border-top:1px solid #000; 
    border-bottom:1px solid #000;
    border-radius: 20px;
    text-align:center;
    margin-left:2px;
    
}
.zu .kong div{
	width:22px;
	height:23px;
	margin-top:-3px;
}
.zu .kong .tujia img{
	margin-top:2px; margin-left:2px;
}
.zu .kong .tujian img{
	margin-top:2px; margin-right:2px;
}
.zu .kong div input{
	margin-top:2px;
	margin-right:1px;
	border:2px solid #dadada;
}
.zu .delete{
	width:80px;
	height:20px;
	background-color:#D41700;
	text-align:center;
	line-height:20px;
	color:#dadada;
	margin-top:3px;
	margin-left: 30px;
	border-radius: 2px;
}
.size{
     font-size:14px;
     color:#D41700;
}
.col{
	font-size:14px;
	color:#777;
}
.zongjia{
	font-size:20px;
	 color:#777;
}
.jiaqian{
	font-size:20px;
	 color:#D41700;
	
}

@media screen and (max-width: 350px) {
      .zu .delete{
      	margin-left: 10px;
      }
}
@media screen and (max-width: 320px) {
      .zu .delete{
      	margin-left: 0px;
      	width:60px;
      }
}
@media screen and (max-width: 380px){
	.zongjia{
	  font-size:12px;
	}
}
#aa{
	width:100%;
	height:20px;
	text-align:center;
    color:red;
    cursor:pointer;
}
#bb{
   width:100p%;
   height:0px;
   overflow:hidden;
}
textarea{
   width:100%;
   height:50px;
   border:1px solid #000;
   margin-left:0%;
   font-family: '微软雅黑';
   font-size:14px;
}
@media screen and (max-height: 400px){
	 footer{
	   display:none;
	 }
	}
