.header{
	width: 100%;
	height: 165px;
	background-color: #eef;
	box-shadow: 1px 1px 1px #dadada;
}
.header .banner{
    width:100%;
    height: 130px;
}
.header .banner img{
    width:100%;
    height:100%;
}
.header .information {
	width:100%;
	height:40px;
	padding: 0px 35px;
	overflow: hidden;
}
.header .information div{
	font-size: 12px;
    width:100%;
    height: 30%;
    text-align:left;
}
.classification{
	width:100%;
	height: 130px;
	padding: 5px 0px;
	border-bottom: #F6BA40 1px solid;
}
.classification a{
	color:#222;
}
.classification div{
	width:25%;
	height:60px;
	text-align:center;
}
.classification div img{
	vertical-align: middle;
	display:inline-block;
	width:40px;
    height:40px;
    margin: 0 auto;
    border-radius: 100px;
}
.classification div p{
	font-size:12px;

}
.show{
	width:100%;
}
.show .food{
	width:100%;
	overflow:hidden;
	padding: 10px 10px; 
	border: 1px solid #dadada;
}
.show a{
	color:#000;
}
.show .food .photo{
   width:35%;
   height:90px;
}
.show .food .indu{
	width:65%;
	height:100%;
}
.show .food .indu div{
	padding:2px 0px;
	width:100%;
    height:30%;
}
.show .food .indu name{
    font-size:16px;
    line-height: 100%;
}
.show .food .indu .indu2{

   font-size:12px;
   overflow : hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   
}
.show .food .indu .di p{
	display: inline-block;
}
.show .food .indu .di input{
	border:0px;
	background-color:#DE432F;
	width:25px;
	height:25px;
	border-radius: 2px;
	margin-right:10px;
}
.p1{
	width:30%;
	display: inline-block;
    color:#DE432F;
}
.p2{
	display: inline-block;
    color:#C4C6B4;
    width:30%;
}
.margin{
	margin-top:50px;
}
// .show a{
// 	color:#222;
// }
// .show .food{
// 	padding: 5px 10px;
// 	width:100%;
// 	height:80px;
//     border-bottom:#dadada 1px solid;
// }
// .show .food>.left{
// 	width:30%;
// 	height:100%;
// }
// .show .food .left img{
// 	border-radius:5px;
// 	width:100%;
// 	height:100%;
// }
// .show .food .right {
// 	width:65%;
// 	height:100%;
// }
// .show .food .right label{
// 	margin-right: 2px;
// }
// .show .food .right p{
// 	line-height:20px;
// 	height:20px;
// } s