*{
    margin:0;
    padding:0;
}
.wall{
    width: 400px;
    height: auto;
    margin:5% auto;
    line-height: 50px;
}
label{
    font-size: 25px;
    width: 30%;
    font-weight: bold;
    vertical-align: middle;
    padding-left: 5%;
}
.input1{
    width: 40%;
    height: 25px;
    vertical-align: middle;
    border-radius: 5px;
}
button{
	 margin-left: 6%;
    height: 30px;
}
.bt1{
    margin-left: 30%;
    width: 160px;
    margin-bottom: 15%;
}
.bt2{
	 height: 30px;
    margin-left: 32%;
    width: 80px;
    margin-top: 8%;
}