*{
    margin:0;
    padding:0;
}
.wall{
    width: 40%;
    height: auto;
    margin: 0 auto;
    margin-top: 5%;
}
label{
/*     font-weight: bold; */
    font-size: 20px;
    margin-left: 25%;
    line-height: 50px;
}
input{
    width: 35%;
    height: 25px;
    border-radius: 5px;
}
.input1{
    margin-left: 25%;
}
.btn{
    padding:8px 20px;
    border: 2px solid #1751d7;
    width: 40px;
    border-radius:5px; 
    margin:5% 0 0 40%;
}
.btn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.btn:hover{
    background:linear-gradient(#fff,#b3b3b4)
}