*{
    margin:0;
    padding:0;
}
.wall{
    width: 30%;
    height: auto;
/*     margin:0 auto; */
	margin-left:30%;
    margin-top: 2%;
    line-height: 48px;
}
lable{
    font-size: 24px;
    font-weight: bold;
    margin-left: 15%;
    vertical-align: middle;
}
input{
    width: 50%;
    height: 25px;
    border-radius: 5px;
}
select{
    width: 50%;
    height: 25px;
    border-radius: 5px;
}
.button{
    width: 200px;
    height: 50px;
    margin-left:40%;
    font-size: 24px;
 
}
.suyuan{
/* 	background-color:red; */
	width: 1000px;
    height: 400px;
    margin-left: -230px;
    
   
}
#editor{
	margin-top: -80px;
	width: 1000px;
    height: 400px;
}