*{
    margin: 0;
    padding: 0;
}
.wall{
    width: 70%;
    height: auto;
    margin:0 auto;
    margin-top: 1%;
}

table{
	margin-left:10%;
    width: 80%;
    text-align: center;
    height: auto;
}
table th{
    text-align: center;
    background-color: #E8E7E3;
	font-size:18px;
	height:35px;
}
table td{height: 40px;
font-size:18px;}
a{
    text-decoration: none;
    color: #000;
}
.page{
      margin:0 auto;
	  margin-left:40%;
	  margin-top:1%;
}