*{
    margin: 0;
    padding: 0;
}
.wall{
    width: 50%;
    height: auto;
    margin: 0 auto;
    margin-top: 2%;
}
table{
    width: 100%;
    text-align: center;
    
}
table th{
    text-align: center;
    height: 35px;
    background-color: #E8E7E3;
    font-size: 18px;
}
table td{
    height: 32px;
}
.btn{
 	   hight:4%;
 	   width:13%;
       height:29px;
	   background:#2B9AF3;
	   border-radius:5px; 
	   font-size:15px;
/* 	   margin-top:1%;} */}
.tableBtn{
	background:#75c7ed;
	width:30%;
	border-radius: 5px;
}