@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
.picture_wall{ width:60%;
               height:500px;
/* 			   background:#FCC; */
			   margin:0 auto;
			   margin-top:2%;}
.picture_wall div{
	width:25%;
	height:250px;
	float:left;
	margin-right:8%;
}
.picture_wall div img{
	height:200px;
	width:250px;
}
p{
 text-align:center;
 font-size:18px;	
	}
input{ width:20%;
      border-radius:5px;
	   -webkit-border-radius:5px;
	   -moz-border-radius:5px;
   }
 form{ margin-left:30%;margin-top: 1%;}

 .btn{
 	   hight:4%;
 	   width:11%;
       height:29px;
	   background:#75c7ed;
/* 	   margin-top:1%;} */}
.error{
	  margin-top:10%;
	  font-size:20px;
	  color: blue;
}
