*{margin: 0;padding: 0}
body{width: 100%}
a{
    text-decoration: none;
}
table{
    margin-top: 2%;
    margin-left: 5%;
    width: 90%;
    text-align: center;
}
thead th{
	text-align:center;
    font-size:1.2vw; 
    font-weight: bold;
    height: 40px;
    border: 1px solid #c6c6c6;
    background-color: #E8E7E3;
    
}
tbody td{
    border-right: 1px solid #c6c6c6;
    border-left: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    background-color: #fefefe;
    height: 35px;
}
.page{
    margin-left: 45%;
/*     width: 20%; */
}  
p{
 text-align:center;
 font-size:18px;	
	}
input{ width:13%;
      border-radius:5px;
	   -webkit-border-radius:5px;
	   -moz-border-radius:5px;
   }
 form{ margin-left:5%;margin-top: 1%;}
 .btnForm{  
 	   margin-right:55%;
 	   wight:9%;
       height:29px;
	   background:#75c7ed;
	   margin-top:1%;
	   }
.select{margin-top:-30px;float: right;margin-right: 5%;}
 .btn{
       height:29px;
	   background:#75c7ed;
/* 	   margin-top:1%;} */}
