*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.wall{
    height: auto;   
    margin-left: 50%;
    position:absolute;
    top:16%;
    left:3%;

}
.orderdetailes{
	 margin-top: 5%;
    margin-left: 15%;
    float:left;
    width:400px;
}
table{
    width: 400px;
    height:200px;
    text-align:center;
    
}
.select{
   height: 40px;
   width:235px;
   border: 1px solid #666;
   border-radius:3px;  
   margin-left:9%;
}
.bg_color{
	 background-color: #f6f6f6;
}

table td p{
    font-size: 20px;
    font-weight: bold;
    font-family: "微软雅黑";
    color: #222;
    text-align: right
}
.table td{
    background-color: #fefefe;
     border: 1px solid #c6c6c6;	
}
.bor1{width: 140px;}
input{height: 36px;width: 90%;margin-left: 8%;border-radius: 5px;}
a{  color: #555;
    font-size: 16px;
    font-weight: bold;
    padding:8px 20px;
    background:linear-gradient(#eeeeed,#a19f9d);}
button{padding:8px 20px;
      font-size: 16px;
      background-color: #82C0E9;
      border-radius:7px;
      font-weight: bold;
      margin-left: 40%;
     margin-top: 8%}