*{
 margin:0;
 padding: 0;
 }
 .wall{
    width: 35%;
    height: 300px;
    margin:0 auto;
    margin-top: 8%;
 }
 #text{
    width: 35%;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    line-height: 50px;
    vertical-align: middle;

 }
 input{
    width: 55%;
    height: 26px;
    vertical-align: middle;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
 }
 button{
    width:80px;
    height: 25px;
    margin-top: 8%;
    font-size: 16px;
 }
 .input1{
    color: white;
    width: 44%;
	height:25px;
    background: #1bafe0;
    margin-left: 31%;
    margin-top: 3%;
    box-shadow: 2px 1px 1px rgba(50,154,242)
}