*{
    margin:0;
    padding:0;
}
.wall{
    width: 40%;
    height: auto;
    margin-left: 20%;
    margin-top: 5%;
}
label{
    font-weight: bold;
    font-size: 25px;
    margin-left: 25%;
    line-height: 50px;
}

input{
    width: 35%;
    height: 25px;
    border-radius: 3px;
}
.input1{
    margin-left: 25%;
}
.btn{
/*     padding:8px 2px; */
/*     border: 2px solid ; */
	background-color:#1BAFE0;
    width: 100px;
    height:30px;
    border-radius:5px; 
    margin:5% 0 0 40%;
    font-size: 15px;
}
.btn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.btn:hover{
    background:linear-gradient(#fff,#b3b3b4)
}
.picture-wall{
    width: 120px;
    height:100px;
    margin-left:55%;
    margin-top: -13%;
   border-radius:100px;
}
.picture-wall img{
    width: 100%;
    height:100%;
/*     border: 5px solid ; */
    border-radius: 5px;


}