
#text{
    display: inline-block;
    width: 25%;
    text-align: left;
}
form{ 
      width:40%;
	  margin:0 auto;}
.updatestock{ 
    font-weight:bold; 
    margin-top:5%; 
    padding-left: 5%;
    line-height: 50px;
    font-size: 1.5vw
}
input{
   width: 30%;
   height:20px; 
   margin-right: 50px;  
   border-radius:5px;  
}

.button input{
    color: white;
    width: 7%;
    font-size: 1.0vw;
    background: #1bafe0;
    margin-left: 40%;
    margin-top: 4%;
    box-shadow: 2px 1px 1px rgba(50,154,242)
}