
/*==============================================
    BASIC  STYLES    
    =============================================*/
  body {
    font-family: 'Open Sans', sans-serif;
    line-height:25px;
  }
/*顶部*/
  .header{
    border-bottom: none;
    height: 125px;
  } 
  .header img{
    width: 100%;
    height: 150px;
  }
  .header span{
    font-size: 50px;
    font-family: 楷体;
    position: absolute;
    top: 47px;
    left: 22%;
    color: white;
  }
  .right{
    float: left;
    width: 85%;
    height: 600px;
  }
  #ifr{
    border: none;
    width:88%;
    height: 570px;
    float: left;
    margin: 0;
    padding:0; 
    background-image:url(../images/m-91.jpg);
    /*background-color: #83c1ea;*/
  }
  .container{
    width: 100%;
    height: 570px;
    padding: 0;
    margin:0;
    overflow: hidden;
  }
  .arrow {
    float: right;
  }

  .fa.arrow:before {
    content: "\f104";
  }

  .active > a > .fa.arrow:before {
    content: "\f107";
  }
  .sidebar-collapse{
      border: 0px solid black;
      width: 12%;
      height: 600px;
      float: left;
      background-color: #008af6;
  }
 
   .nav-second-level li{
      border-bottom: none !important;
  }
 
  .sidebar-collapse .nav-second-level  li a {
      padding-left: 25px;
      text-index:20px;
      color: black;
      font-size: 0.9em;
    
  }
  .nav-second-level li:hover{
      border-left:5px solid black;
      outline: 0; 
  }
  .sidebar-collapse .nav{
      padding: 0;
  }
  .sidebar-collapse .nav > li > a {
      color: #fff;
      background: #1f93ed;
      padding: 15px 15px;
      text-indent:5%; 
      border-bottom: 1px solid #2F2E31;
  }
  /* .sidebar-collapse > .nav > li > a {
      padding: 15px 2px;
  } */
  .sidebar-collapse .nav > li > a:hover{
      background: #1d5aa4;
      outline: 0;
    }
  ul>li>a>span{
      margin-right: 8px;
     }
  .nav .nav-second-level ul>li>ul>li>a>span{
      margin-right: -2px;
     }

    