*{margin:0;padding: 0; }
h4{
    text-align: center;
}
#text{
    display: inline-block;
    width: 10%;
    text-align: left;
}

.addmenu{ 
    font-weight:bold; 
    margin-top:2%; 
    padding-left: 5%;
    line-height: 40px;
    font-size: 1.2vw
}
input{
  width: 15%;
   height:20px; 
   margin-right: 50px;    
}
textarea {
    margin-left: -0.8%
}
.button input{
    color: white;
    width: 5%;
    font-size: 0.5vw;
    background: #1bafe0;
    margin-left: 10%;
    margin-top: 20px;
    box-shadow: 2px 1px 1px rgba(50,154,242)
}