*{
	padding: 0;
	margin: 0;
}
html,body{
	height: 100%;
	width: 100%;
	background: url(../images/bg.jpg) no-repeat;
	background-size: cover;
	overflow: hidden;
}
.content{
	width: 40%;
	width: 600px;
	height: 400px;
	margin: 0 auto;
	position: relative;
	top:50%;
	transform: translateY(-50%);
	
}
.header{
	width:70%;
	min-width: 540px;
	text-align: center;
	margin: 50px auto;
	margin-bottom: 100px;
}
.header span{
	color:#F7F7F7;
}
.header .p1{
	font-family: KaiTi,"arial black";
	font-size: 45px;
	letter-spacing:4px;
}
.title{
	font-family: KaiTi,DFKai-SB;
	font-size: 50px;
	padding: 4px;
	text-shadow: 5px 5px 8px #31defc;
}
.header .p2{
	font-size: 18px;
}
.login{
	width:100%;
	min-width: 600px;
	margin: 20px auto;
	padding: 35px 10px 20px 25px;
	background:-webkit-linear-gradient(#32b1fe,#0b70be); 
	background:-moz-linear-gradient(#32b1fe,#b70be);
	border-radius: 15px;
	background: url(../images/loginform.png) no-repeat;
	background-size: cover;
}
.login input{
	width:auto;
}
.login p{
	font-size: 18px;
	color:red;
	line-height: 18px;
	width:400px;
	text-align: center;
	
}
form{
	margin-left: 40px;
}
.name{
	float:left;
	margin-right: 20px;
}
.pass{
	float: left;
}
.denglu{
	float:left;
	margin-left: 30px;
}

