*{margin:0;padding: 0; }
#text{
    display: inline-block;
    width: 10%;
    text-align: left;
}
.updatemenu{
    font-weight:bold; 
    margin-top:2%; 
    padding-left: 5%;
    line-height: 40px;
    font-size: 1.2vw
}
input{
  width: 15%;
   height:20px; 
   margin-right: 50px;    
}
 img{
  margin-left: 20%;
  margin-top: 10px
 }
.button{
  margin-left: 5%
}
.button input{
    color: white;
    width: 5%;
    font-size: 0.5vw;
    background: #1bafe0;
    margin-left: 10%;
    margin-top: 20px;
    box-shadow: 2px 1px 1px rgba(50,154,242)
}