*{margin:0;padding: 0; }

#text{
    display: inline-block;
    width: 30%;
    text-align: left;
	font-size:24px;
}
form{
     width:50%;
	 margin-left:10%;}
.updateingredient{ 
	wdith:70%;
    font-weight:bold; 
    margin-top:2%; 
    padding-left: 20%;
    line-height: 50px;
    font-size: 1.2vw
}
input{
   width: 35%;
   height:25px; 
   border-radius:5px;
   margin-right: 50px;    
}
 
.button input{
    color: white;
    width: 8%;
	height:25px;
    font-size: 0.5vw;
    background: #1bafe0;
    margin-left: 25%;
    margin-top: 3%;
    box-shadow: 2px 1px 1px rgba(50,154,242)
}