*{margin:0;padding: 0; }
body{width: 100%;}
#text{
    display: inline-block;
    width: 8%;
    text-align: left;
}

.updatedetails{
    font-weight:bold; 
    margin-top:5%; 
    padding-left:25%;
    line-height: 40px;
    font-size: 1.2vw;
}
input{
   width:15%;
   height:20px; 
   border-radius:5px;
   margin-right: 50px;  
   margin-left:2%;  
}
 
select{
  width: 15%;
  height: 20px;
  margin-left:1.2%;
  border-radius:5px;
  border:1px solid #000;
}
.button input{
    color: white;
    width: 8%;
	height:25px;
    font-size: 0.5vw;
    background: #1bafe0;
    margin-left: 25%;
    margin-top: 4%;
    box-shadow: 2px 1px 1px rgba(50,154,242);
}